#requirements.txt

fastapi
uvicorn 
sqlalchemy 
pydantic 
passlib 
python-jose

first actiivate the virtual environment:
    env\Scripts\activate

Run the app using:
    uvicorn app.main:app --reload
